:root {
  --nova: "Nova Round", serif;
  --code: "Source Code", serif;
  --sans: "Open Sans", serif;
}

* {
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  font-family: var(--sans);
  font-size: 1.1rem;
  font-weight: 500;
  color: black;
  z-index: 1;
}
.sub-section {
  margin: 0.5rem 0;
  width: 100%;
}
h1,
h2,
h3,
h4,
h5 {
  text-transform: capitalize;
}
h1 {
  font-family: var(--nova);
  font-weight: 800;
  font-size: 3rem;
  padding: 1rem 0;
  margin-top: 0.8rem;
}
h3 {
  margin-top: 0.4rem;
}
h2,
h3 {
  font-weight: 800;
  padding: 0.8rem 0;
  font-size: 1.7rem;
}
h3 {
  font-size: 1.3rem;
}
ul:not(.index ul) {
  list-style: none;
  padding-left: 2rem;
  margin-bottom: 1rem;
  list-style-type: square;
}
li:not(.index li) {
  margin: 0.5rem;
  font-size: 0.9rem;
}

img {
  width: 40%;
  text-align: center;
  margin: 1rem;
  display: block;
}
.full {
  width: 80%;
}
.left {
  float: left;
  margin-left: 0;
}
.right {
  float: right;
  margin-right: 0;
}
.dual {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
}
.dual img {
  height: 100%;
}
.snippet {
  display: block;
  white-space: pre;
  font-family: var(--code);
  font-size: 1rem;
  font-weight: 600;
  color: black;
  border: 1px solid;
  margin: 1rem;
  padding: 1rem;
}

.pattern {
  display: inline;
  width: 100%;
  height: 1rem;
  position: absolute;

  z-index: -1;
  left: 0;
  bottom: 0;
  background: url(../svg/wave.svg);
  opacity: 0.8;
}
